.profile-img img{
border-radius: 50% !important; 
height: 110px !important;
width: 120px !important;
}


.atm-cta {
  margin-top: 1.5rem;
  font-size: 0.8rem;
  color: #aaa;
  opacity: 0.8;
}

.atm-cta a {
  color: #4bd5ee;
  text-decoration: none;
  font-weight: 500;
}

.atm-cta a:hover {
  text-decoration: underline;
}



.footer {
  width: 100%;
  background-color: #14171d;
  color: #f5f5f5;
  padding: 60px 20px 40px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  position: relative;
  margin-top: 80px;
}

.footer-content {
  max-width: 1200px;
  margin: auto;
  text-align: center;
}

.footer-content h2 {
  font-size: 1.8rem;
  color: #f5b841;
  margin-bottom: 10px;
}

.footer-content p {
  font-size: 1rem;
  color: #ccc;
  margin-bottom: 20px;
}

.footer-socials {
  display: flex;
  justify-content: center;
  gap: 25px;
  margin-bottom: 30px;
}

.footer-socials a img {
  transition: transform 0.2s ease;
}

.footer-socials a:hover img {
  transform: scale(1.2);
  opacity: 0.8;
}

.footer-copy {
  font-size: 0.85rem;
  color: #888;
}
